* {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(99, 87, 87); */
  margin: 0;
  font-family: 'Arvo', serif;
}

<<<<<<< HEAD
=======
@font-face {
  font-family:'Digitalt';
  src: url('../fonts/Digitalt.otf');
}

.head-title{
  color: #1d584d;
  font-weight: bold;
  font-size: 3.2rem;
  font-family: 'Fira Sans', sans-serif;
}

>>>>>>> dd8aefe07fa800f09e6cbb398279868db8960701
.upload-container{
    display: flex;
    flex-flow: column wrap;
    height: 100px;
    position: absolute;
    justify-content: space-between;
    background-color: white;
    left: 30px;
    top: 60px;
    /* width: 50px; */
}
.upload-container *{
  /* width: 100px; */
}

main{
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
  background: #eaf9f6;
}
/* gal */
header{
    height: 50px;
    margin-bottom: 50px;
    background-color:#2f2f2f;
    width: 100%;
}
.mobile-btn{
  display: none;
}
.fa-sort-down{
  color: #2f2f2f;
  padding-top: 5px;
}
.double-down-arrow{
  color: white;
}
.input-container{
  flex-direction: column;
}
.arrows-container{
  display: flex;
  flex-direction: column;
}
nav{
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s;
    align-items: center;
    padding: 0 20%;
}
.arrows-container{
  position: relative;
}
.fa-angle-double-down{
  position: absolute;
  left: 33%;
  top: 48%;
  color: white;
  cursor: pointer;
}
.fa-angle-double-down:hover{
  color:#299f81;
}
nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav a:hover{
color:#299f81
}

.imgs-container {
  width: 100%;
  max-width: 1040px;
  display: flex;
  justify-content: center;
  align-content: center;
}
h1{
    width: 100%;
    margin-top: 10px;
    color:#2ab499;
}
.clean-list {
  list-style-type: none;
  padding: 0;
}
.input-container input{
  box-shadow: 0 0 6px rgb(13, 133, 167,1);
}

.popular-searches-container{
    color: white;
    background-color: #2f2f2f;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    height:200px;
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden;
}
.popular-searches-container a{
    text-decoration: none;
    color: white;
}
.img-pick{
cursor: pointer;
border-radius: 10px;
}
.img-hover{
  position: absolute;
    width:inherit;
    height: 0;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(2, 2, 2, 0.8);
    color: white;
    text-align: center;
    border-radius: 10px;

}
.popular-searches-container a{
  cursor: pointer;
}
.imgs-container li:hover > .img-hover{
  opacity: 0.9;
  height:inherit;
}
h1{
text-align: center;
}
.about-container{
  height: 400px;
  background-color:#2ab499;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.details-container{
  flex-direction: column;
  height: inherit;
  width: 30%;
  padding-top: 5px;
  justify-content: start;
  align-items: center;
}
.profile-pic{
  background-color: #000000;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.profile-pic-gal{
  background-image: url(https://simpleprogrammer.com/wp-content/uploads/2013/03/programmer.jpg);
}
.profile-pic-didi{
  background-image: url(https://fossbytes.com/wp-content/uploads/2017/09/programmer-in-rich-nation.jpg);
}
.details-container h1{
  color: white;
  font-size: 1.5rem;
}
.details-container h2{
  color:black;
    opacity: 0.4;
    font-size: 1rem;
}
.details-container p{
  color:white;
  font-size: 1rem;
  text-align: center;
}
.details-container h1,h2{
  margin-top: 1px;
}
.form-container{
  flex-flow: column nowrap;
  justify-content: left;
  grid-area: 2 /3 / 11/ 8;
}
.contact-details-container{
grid-area: 3/8 /6/ 10;
padding-top: 20px;
padding-right: 40px;
}
.contact-icon{
  color: #2ab499;
}
.contact-icon span{
  color: #a1a1a1;
  font-size: 0.7rem;
}
.icons-container {
  grid-area: 7/8/7/9;
}
form{
flex-direction: column;
}
.submit-btn{
  background-color:#2ab499;
  width: 70px;
  height: 30px;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
}
form *{
  color: white;
  margin-bottom: 20px;
  background-color: #444444;
  border: 0;
  padding: 10px;
}
form ::placeholder{
  font-family: arvo;
  font-size: 0.7rem;
  color: white;
  opacity: 0.5;
}
.getInTouch-container h1{
  margin-bottom: 0;
  color: #a1a1a1;
  text-align: left;
}
.getInTouch-container p{
  color: #a1a1a1;
}
.getInTouch-container{
  height: 600px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-gap: 20px;
  background-color: #2f2f2f;
}
.stylish-hr{
    width: 100%;
    height:4px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.load-imgs-container{
    background-color:blue;
    flex-direction: column;
    justify-content: space-evenly;
}
.load-container{
    justify-content: space-between;
}
main a{
    text-decoration: none;
    color: black;
}
.input-btn {
  width: 20px;
  height: 10px;
}
ul.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgs-container li {
  margin: 4px;
  width: 200px;
  height: 200px;
}
/* hexagon ? */
/* hexagon ? */
.fit-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* responsive section */
@media (min-width:320px) and (max-width:1024px) {
  .imgs-container li{
   width: 75px;
   height: 75px;
  }
  .img-hover{
   display: none;
  }
  header{
    position: fixed;
    transform: translateY(-45px);
    opacity: 0.9;
    transition: all .5s;
  }
  nav a{
    font-size: 0.7rem;
  }
  .open-header{
    transform: translateY(0);
  }
  .fa-sort-down{
    transform: translateY(-40px);
    cursor: pointer;
  }
  nav{
    padding: 0;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
  .popular-searches-container{
    /* word-wrap: break-word; */
  }
  .details-container h1, h2 {
    margin-top: 5px;
  }
.details-container h1 {
  font-size: 0.7rem;
  }
.details-container h2 {
  font-size: 0.5rem;
  }
.details-container p {
  font-size: 0.5rem;
  }
.about-container {
  height: 260px;
  }
  .profile-pic {
    height: 75px;
    width: 75px;
  }
  main{
    padding-top: 60px;
  }
  .getInTouch-container{
    display: flex;
    flex-direction: column;
  }
  .getInTouch-container p {
    font-size: 0.6rem;
  }
.getInTouch-container h1 {
  font-size: 1rem;
  }
textarea{
  height: 80px;
  }
form input{
  padding: 5px;
  }
.form-container{
  padding: 10%;
  }
.contact-details-container,.icons-container{
  padding: 0 10%;
  }
  @media (min-width:515px){
    .imgs-container li{
      width: 100px;
      height: 100px;
     }
  }
  @media (min-width:665px){
    .imgs-container li{
      width: 175px;
      height: 175px;
     }
     .form-container{
       padding-bottom: 0;
     }
     .contact-details-container,.icons-container{
      padding: 0 20%;
    }
  .details-container h1, h2 {
    margin-top: 5px;
  }
.details-container h1 {
  font-size: 1rem;
  }
.details-container h2 {
  font-size: 1rem;
  }
.details-container p {
  font-size: 0.7rem;
  }
.about-container {
  height: 300px;
  } 
}
}




/* gal */

/* didi */
.modal {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
  background: url('../img/crazy.jpg') repeat center center #00050b;
  transition: all 1s;
}

.modal.hide {
  bottom: -100%;
  display: block;
  widows: 100%;
  height: 100%;


}

/* suggession for modal changes
.modal {
  width: 100%;
  height: fit-content;
  z-index: 10000;
  position: absolute;
  top: unset;
  right: 0;
  bottom: 25%;
  background: url(../img/crazy.jpg) no-repeat center center;
} */

.modal-content {
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn.return-btn{
  margin: 1px;
  width: 30px;
  height: 30px;
  font-size: 1.7rem;
  background: rgb(239, 243, 205);
  color: #513216;
  border: 1px solid #513216;
  border-radius: 50%;
}
.img-canvas{
  max-width: 100%;
  width: 400px;
  height: auto;
  cursor: crosshair;
  margin: 0;
  border: 5px rgb(239, 243, 205) solid;
  border-radius: 5px;
}

.centerer{
  width: 40px;
  height: 40px;
  /* background: yellow; */
}
.add-line-container{
  font-size: 1.1rem;
}

/* @media (max-width: 1000px){
.modal-content {
  flex-wrap: wrap;
}

.img-canvas{
  width:auto;
  height: 80;
}

.add-line-container{
  font-size: 0.9rem;
}
} */
/* @media (max-width: 770px){


  .img-canvas{
    width: 100%;
    height: auto;
  }
} */
.textareas-container {
  max-width: 100%;
  margin: 0 10px 10px 10px;
}


.add-line-container textarea {
  background: #331f0de3;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.3px;
  padding: 16px 0px 0 8px;
  font-size: inherit;
  border: 2px solid #d9dcba;
}
.add-line-container textarea::placeholder{
  color:#c7c4c4;
  font-size: inherit;
  }

.ctrl-btns-container {
  background: #d9dcba;
  /* padding: 0 2.5px; */
  /* border-radius: 10px; */
}

.modal-content .btn {
  width: 33px; 
  height: 26px;
}

.btn.ctrl-btn {
  background: #2d1d0c;
  color: #eff3cd;
  border: 1px solid #eff3cd;
  font-weight: bold;
  font-size: inherit;
}

.show-curr-line {
  color: #f5f4f4;
  font-size: 1rem;
  font-family: 'Digitalt';
  font-weight: bold;
  -webkit-text-stroke: 0.25px #37230f;
  padding: 4px 0;
  margin: 0 12px;
  text-align: center;
  align-items: center;
  transform: scale(2,2);
}

.browse-txts-container {
  /* background: #b3b3b3; */
  border-radius: 10px;
}

/* Media Query after flex-wrap */
@media (min-width: 400px){
  .modal-content .btn {
    width: 35px;
    height: 30px;
  }

  .btn.return-btn {
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border: 1px solid #513216;
  }
}
@media (min-width: 944px )
{
  .modal-content .btn {
    width: 40px;
    height: 30px;
  }
  .img-canvas {
  margin: 0 10px;
  width: 500px;
  }
}
.btn.ctrl-btn:first-of-type {
  cursor: default;
}

.btn.browse-btn {
  background: #f5f4f4;
  color: #37230f;
  border: 1px solid #37230f;
  background: #d9dcba;
  font-weight: bold;
  font-size: inherit;
  width: 6.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.action-line-wrapper {
  width: 100%;
  padding: 4px 10px;
}
.btn.dwnld-btn {
  background: #e22828;
}
.btn.share-btn {
background: #1e5699;
color: white;
font-size: 1rem;
}

.btn.dwnld-btn, .btn.share-btn {
  border-radius: 5px;
  border: 1.5px white solid;
  color: white;
  width: 3.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.font-pick-bar {
  margin: 0;
  justify-content: space-evenly;
  background: #5e4e3f;
  border: 2px solid #d9dcba;
  color: #d9dcba;
  padding: 1px 10px;
}
.font-pick-bar li {
  cursor: pointer;
}

.pick-times-nr {
  font-family: 'Times New Roman';
}
.pick-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.pick-impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* TODO: make the browseBar flex wrap on mobile; */

/* didi */

/* Helper */
a {
  color: #FFFFFF;
    text-decoration: none;
}
.btn{
  width: 70px;
  height: 40px;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 10px;
}

.center-items {
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

input[type="color"] {
  width: 100%;
  height: 100%;
  background: inherit;
  border:  none;
  cursor:  pointer;
  
}
.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
.wrap {
  flex-wrap: wrap;
}

.btn.ctrl-btn.bold-true {
  font-weight: bold;
}

.btn.ctrl-btn.no-bold {
  font-weight: normal;
}
.space-between {
  justify-content: space-between;
}

/* !/Helper */