* {
  box-sizing: border-box;
}

body {
  background-color: rgb(99, 87, 87);
  margin: 0;
  font-family: 'Arvo', serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

/* gal */
header{
    height: 50px;
    margin-bottom: 50px;
    background-color:#2f2f2f;
    /* position: fixed; */
    width: 100%;
}
.menu-arrow{
    padding-top: 30px;
    color: #2f2f2f;
}
.location-menu-arrow{
    display: block;
    color: white;
    transform: rotate(135deg);
    cursor: pointer;
    z-index: 1;
    transition: all .5s;
    position: relative;
    left: 34%;
    margin-bottom: 12px;
}
.location-menu-arrow:hover{
    color: #299f81
}
nav{
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s;
    align-items: center;
    padding: 0 25%;
}
nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav a:hover{
color:#299f81
}
.closed-nav{
    transform: translateY(-35px);
}
.imgs-container {
  width: 100%;
  max-width: 1040px;
  display: flex;
  justify-content: center;
  align-content: center;
}
h1{
    width: 100%;
    margin-top: 10px;
    color: chocolate;
}
.clean-list {
  list-style-type: none;
  padding: 0;
}
.popular-imgs-container{
    color: white;
    background-color: #2f2f2f;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    height:200px;
    max-height:500px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.popular-imgs-container a{
    text-decoration: none;
    color: white;
}
.img-pick{

}
h1{
text-align: center;
}
.load-imgs-container{
    background-color:blue;
    flex-direction: column;
    justify-content: space-evenly;
}
.load-container{
    justify-content: space-between;
}

main a{
    text-decoration: none;
    color: black;
}
.input-btn {
  width: 20px;
  height: 10px;
}
ul.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgs-container li {
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 200px;
}

/* later: */
/* @media asd */

.fit-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* gal */

/* didi */
.modal {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
  background: url(../img/parquet.jpg) repeat center center #00050b;
}

/* suggession for modal changes
.modal {
  width: 100%;
  height: fit-content;
  z-index: 10000;
  position: absolute;
  top: unset;
  right: 0;
  bottom: 25%;
  background: url(../img/crazy.jpg) no-repeat center center;
} */

.modal-content {
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn.return-btn{
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  background: rgb(239, 243, 205);
  color: #513216;
  border: 2px solid #513216;
  border-radius: 50%;
}
.img-canvas{
  max-width: 100%;
  width: 400px;
  height: auto;
  cursor: crosshair;
  margin: 0;
  border: 5px rgb(239, 243, 205) solid;
  border-radius: 5px;
}

.centerer{
  width: 40px;
  height: 40px;
  /* background: yellow; */
}
.add-line-container{
  font-size: 1.1rem;
}

/* @media (max-width: 1000px){
.modal-content {
  flex-wrap: wrap;
}

.img-canvas{
  width:auto;
  height: 80;
}

.add-line-container{
  font-size: 0.9rem;
}
} */
/* @media (max-width: 770px){


  .img-canvas{
    width: 100%;
    height: auto;
  }
} */
.textareas-container {
  max-width: 100%;
  margin: 0 10px 10px 10px;
}


.add-line-container textarea {
  background: #331f0de3;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.3px;
  padding: 16px 0px 0 8px;
  font-size: inherit;
  border: 2px solid #d9dcba;
}
.add-line-container textarea::placeholder{
  color:#c7c4c4;
  font-size: inherit;
  }

.ctrl-btns-container {
  background: #d9dcba;
  /* padding: 0 2.5px; */
  /* border-radius: 10px; */
}

.modal-content .btn {
  width: 32px; 
  height: 26px;
}

.btn.ctrl-btn {
  background: #373232;
  color: #eff3cd;
  border: 1px solid #eff3cd;
  font-weight: bold;
  font-size: inherit;
}

.show-curr-line {
  color: #f5f4f4;
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-text-stroke: 0.25px #37230f;
  padding: 4px 0;
  margin: 0 12px;
  text-align: center;
  align-items: center;
  transform: scale(1.5,1.4);
}

.browse-txts-container {
  /* background: #b3b3b3; */
  padding: 4px 0;
  border-radius: 10px;
}

/* Media Query after flex-wrap */
@media (min-width: 400px){
  .modal-content .btn {
    width: 35px;
    height: 30px;
  }
}
@media (min-width: 944px )
{
  .modal-content .btn {
    width: 40px;
    height: 30px;
  }
  .img-canvas {
  margin: 0 10px;
  width: 500px;
  }
}
.btn.ctrl-btn:first-of-type {
  cursor: default;
}

.btn.browse-btn {
  background: #f5f4f4;
  color: #37230f;
  border: 1px solid #37230f;
  background: #d9dcba;
  font-weight: bold;
  font-size: inherit;
}

.font-pick-bar {
  margin: 0;
  justify-content: space-evenly;
  background: #5e4e3f;
  border: 2px solid #d9dcba;
  color: #d9dcba;
  padding: 1px 10px;
}
.font-pick-bar li {
  cursor: pointer;
}

.pick-times-nr {
  font-family: 'Times New Roman';
}
.pick-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.pick-impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* TODO: make the browseBar flex wrap on mobile; */

/* didi */

/* Helper */
.btn{
  width: 70px;
  height: 40px;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 10px;
}

.center-items {
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

input[type="color"] {
  width: 100%;
  height: 100%;
  background: inherit;
  border:  none;
  cursor:  pointer;
  
}
.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
.wrap {
  flex-wrap: wrap;
}

.btn.ctrl-btn.bold-true {
  font-weight: bold;
}

.btn.ctrl-btn.no-bold {
  font-weight: normal;
}
.space-between {
  justify-content: space-between;
}

/* !/Helper */