* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
  margin: 0;
  font-family: 'Arvo', serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 



/* gal */
header{
    margin-bottom: 50px;
    background-color:black;
}
.menu-arrow{
    margin-top: 20px;
    position: absolute;
    cursor: pointer;
    transition: all 2s;
    align-items: center;
    /* left: 50%; */
    /* top:30%; */
}
nav{
    justify-content: space-around;
    width: 100%;
    position: relative;
    transition: all 2s;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
}
.closed-nav{
    transform: translateY(-10px);
}
.closed-menu-arrow{
    transform: rotate(180deg);
}
.imgs-container {
  width: 100%;
  max-width: 1040px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.clean-list {
  list-style-type: none;
  padding: 0;
}
.popular-imgs-container{
    background-color:blue;
    flex-direction: row;
}
.img-pick{

}
h1{
text-align: center;
}
.load-imgs-container{
    background-color:blue;
    flex-direction: column;
    justify-content: space-evenly;
}
.load-container{
    justify-content: space-between;
}

main a{
    text-decoration: none;
    color: black;
}
.input-btn {
  width: 20px;
  height: 10px;
}
ul.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgs-container li {
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 200px;
}

/* later: */
/* @media asd */

.fit-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* gal */

/* didi */
.modal {
  width: 100%;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
  background: url(../img/crazy.jpg) no-repeat center center;
}

.modal-content {
  margin-top: 35px;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}

.btn.return-btn{
  position: fixed;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  background: #cf3a3a;
  color: white;
  border: 1px solid white;
}
.img-canvas{
  max-height: 70%;
  max-width: 100vw;
  cursor: crosshair;
  /* margin: 0 40px 0 0; */
}
.textareas-container {
  max-width: 100%;
}

.add-line-container textarea {
  background: #221616e3;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.3px;
  padding: 16px 0px 0 8px;
  font-size: 1.1rem;
}
.add-line-container textarea::placeholder{
  color:#c7c4c4;
  }

.ctrl-btns-container {
  background: #b3b3b3;
  padding: 0 2.5px;
}


.btn.ctrl-btn{
  width: 35px;
  height: 26px;
  background: #373232;
  color: #f5f4f4;
  border: 1px solid #f5f4f4;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:  bold;
}

.btn.ctrl-btn:first-of-type {
  cursor: default;
}

/* didi */

/* Helper */

.hide {
  display: none;
}
.btn{
    width: 70px;
    height: 40px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
}

.center-items {
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

input[type="color"] {
  width: 100%;
  height: 100%;
  background: inherit;
  border:  none;
  cursor:  pointer;
}
/* !/Helper */